/* Common style or utilities */
section {
  width: 870px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}
/* Common style or utilities end*/
.container-header {
  width: 100%;
  display: block;
  background-color: #562eff;
  padding: 10px 0px;
}
.container {
  margin: auto;
  margin-top: 30px;
  padding: 30px;
}
nav {
  width: 870px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.icon-of-nav b {
  margin-left: 10px;
  color: white;
  font-weight: 600;
  font-size: 1.3em;
}
.icon-of-nav {
  display: flex;
  align-items: center;
}
.icon-of-nav span i {
  color: white;
  font-size: 2.9em;
  transform: rotate(-16deg);
}
nav span {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav span a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
}
/* header-end */
/* sec-1 start  */

.sec-1 h3 {
  color: #562eff;
  font-size: 24px;
  font-weight: 500;
  margin-top: 3px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 30px;
}
.player img {
  width: 56px;
  height: 56px;
}
.player h2 {
  color: black;
  margin-left: 16px;
  font-weight: 500;
  font-size: 1.2em;
}
.player {
  display: flex;
  align-items: center;
}
hr {
  border: 1px solid #d1d1d1;
}

/*--------- top bog styles ----------*/

#section-title-blog {
  margin-top: 22px;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}

.blog {
  display: flex;
}

.blog-info h3 {
  color: black;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-aurthor {
  color: #9f9f9f;
}
.blog-aurthor a {
  text-decoration: none;
  font-size: 16px;
}

/* sec-2 started */
.sec-2 {
  margin-top: 21px;
}
.sec-2 .top-player {
  margin-top: 0px;
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25.13px;
}
.course {
  padding: 14px;
}
.section-title-2 {
  margin-top: 0px;
  font-size: 20.003px;
  color: #562eff;
  font-size: 24px;
  font-weight: 500;
  margin-top: 3px;
}

.courses-banner img {
  width: 224px;
  height: 104px;
}
.fa-star.filled {
  color: #ffc014;
}

.fa-star.empty {
  color: #aeaeae;
}
.cource-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-star {
  font-size: 12px;
}
.course-duration {
  color: #ff4a60;
  background: #ffe4e8;
  border-radius: 14.6913px;
  padding: 2px;
}
